.container{
  padding-top: 1em;
}
#nobullets ul{
  list-style: none;
}
.container{
  min-width: 90%;
}
.center{
  text-align: center;
}
.sidebar{
    padding-left: 0;
    padding-top: 1em;
}
.indent ul{
  padding-left: 1em;
}
.col-md-1 .container{
  background-color: #ededed;
  border-right: solid 1px;
  border-color: #8ad8fc;
}
hr{
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #8a8a8a;
    margin: 1em 0;
    padding: 0;
}
.nopadding{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.minwidth{
  width: 15em;
}
.navbar {
    margin-right: 0;
    margin-left: 15em;
    position: fixed !important;
    top: 0px;
    width: 100%;

}
.clear{
  clear: bottom;
}
.padding{
  padding-top: 5em;
}
.background{
  background-color: #ededed;
  border: solid 1px;
  border-color: #8a8a8a
}
